html {
    height: 100%;
    background-color: #f3f4f6;
}

body {
    height: 100%;
    margin: 0 !important;
}

.min-h-full {
    min-height: 100%;
}

nav {
    background-color: #1F2937;
}


nav > .container div {
    justify-content: flex-start;
    gap: 1rem;
    height: 4rem;
}

.nav-items {
    margin-left: 2.5rem;
    align-items: baseline;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition: all .35s;
    border-radius:0.375rem ;
}

.nav-item:hover {
    background-color: #111827;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

header {
    background-color: #fff;
}

header > div {
    padding:1.5rem 2rem;
}

#page-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #111827;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}